@model CreateSocialMediaDto
@{
    ViewData["Title"] = "CreateSocialMedia";
    Layout = "~/Views/AdminLayoutController/Index.cshtml";
}




<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">SosyalMedya İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni SosyalMedya Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Title">Sosyal Medya Adı</label>
                                <input type="text" class="form-control" asp-for="Title" id="Title" />

                            </div>


                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="URL">Sosyal Medya URL</label>
                                <input type="text" class="form-control" asp-for="URL" id="URL" />

                            </div>


                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Icon">Sosyal Medya Icon</label>
                                <input type="text" class="form-control" asp-for="Icon" id="Icon" />

                            </div>


                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary btn-border btn-round">Sosyal Medya Hesabı Ekle</button>

                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>




